body {background-color: rgb(203, 200, 204);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer { background-color: rgb(135, 119, 150);
text-align:right;}

h2 {
    font-weight: bolder;
}

